# Python for Data Science: Transforming Data with Intelligence 
## A. Welcome to Jupyter (a.k.a. Ipython Notebooks)
Take a while to adjust your bearings. Study the icons above.

There are two major types of cells:

1) Markdown cells - simple text. One can do html tags like <b>BOLD</b> or latex like $\beta$.

2) Code cells - cells where we can run code.

<b>Shortcuts</b>

1) <b>CTRL-M</b> then <b>H</b> to see help

2) <b>CTRL-M</b> then <b>S</b> to save notebook

3) <b>CTRL-ENTER</b> to Run Code but stay in the same cell

4) <b>SHIFT-ENTER</b> to Run Code and advance to the next cell

5) You can use <b>TAB</b> to see available functions. You can use <b>SHIFT-TAB</b> repeatedly for the documentation.

In [ ]:
# This is our first python code
print("Hello World!")

## B. Variables and Data Types

Python uses five standard data types:

### Numbers

In [ ]:
varNum = 123
pi = 3.14159

varNum is an Integer, thus it does not handle numbers with decimal places while pi is a Float where values in the decimal place are handled.

* *Mutable* - The value assigned to a variable can be changed.
* *Immutable* - The value assigned to a variable cannot be changed.

### Strings

In [ ]:
varString = "Hello World!"
varText = 'This is a String'
varTxt = """This is a String"""
#print(varString)
print("The length of varString is",len(varString))

Strings may be declared with a single quote (') or double quote ("), some even use triple double quotes("""). One may use them interchangeable but some prefer to follow a specific format.

In [ ]:
varTxt[-2]

In [ ]:
message = "Technological Institute of the Philippines"

In [ ]:
# indexing variableName[start:end:step]; end - exclusive
message[0:13]

In [ ]:
# get the Tcnl from Technological
message[0:7:2]

### Lists

In [ ]:
varList = ["abc", 123]
print(varList)
print(len(varList))

In [ ]:
print(varList[0])
print(len(varList[0]))

You can think of Lists as similar to ArrayLists where the index starts at 0 and you can obtain the contents of a list by using brackets that contain the index of the element. You may also append items in the list and remove them as well.

In [ ]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi]
print(varList[0])

For more information regarding lists, this has been discussed on section B. Data Types and Variables.
You can chose to insert different datatypes in a single list.

In [ ]:
print(varList[4])

You may call the content of the list through indexing

In [ ]:
varList.append('World!')
print(varList)

You may also append items in the list. The example above shows you that when you added a new list item, it would be added towards the end of list

In [ ]:
len(varList)

In [ ]:
varList.remove(pi)
print(varList)

Initially <b>varList[5]</b> was called and the result was 3.14159, however when the <b>remove()</b> function was called, it iterates though the list looking for the first match then erases that value.

In [ ]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
varList[:5]

In [ ]:
varList[5:]

In [ ]:
varList[:-2]

In [ ]:
varList[-2:]

In [ ]:
print(varList[2:-2])

In [ ]:
#select 3,6
varList[2:6:2]

<b>NOTE</b> <i>list([start]: end : [
step])

### Tuples

In [ ]:
varTuple = ('abc', 123, "HELLO")
print(varTuple)
print(len(varTuple))
print(varTuple[0])

It may seem like there are no differences between Tuples and Lists other than Tuples use parenthesis while lists use brackets, but actually there are minor differences. For one thing, Tuples are fixed structures thus do not have the luxury of Lists to append or remove elements. Generally Lists have a lot of other functions readily available as opposed to using Tuples.

<b>HINT:</b> You can try to type <b><i>varList.</i></b> in one line as well as <b><i>varTuple.</i></b> and press <b>TAB</b> after the period (.) in order to view possible functions you can call from that variable. You may also try to press <b>CTRL + TAB</b> when the text cursor.

In [ ]:
varTuple.append("HELLO")
print(varTuple)
print(len(varTuple))

However Tuples actually use less space in the memory as opposed to Lists, resulting in faster processing. One thing to take note of is that one would usually use Tuples when the size of the contents are static as opposed to Lists where one can use it to continuously modify the size and elements.

In [ ]:
print(varList)
print(varList.__sizeof__())
print(varTuple)
print(varTuple.__sizeof__())

### Dictionaries

In [ ]:
var = 3
varDict = {'first':1, '2':'2nd', 3:var}
varDict

You may also declare contents of dictionaries individually

In [ ]:
varDict = {}
varDict['first'] = 15
varDict['2'] = '2nd'
varDict[3] = var
#print(varDict[3])
print(varDict[3])

If you have experience in using JavaScript Object Notation or JSON, Python's implementation of Dictionaries are quite similar to that. You may reference an element by inserting the label of the keypair.

In [ ]:
var = "Hello World!"
varDict = {'first' : 123, 2 : 'abc', '3' : var, 4:['lista', 'listb']}
print(varDict['first'])

In [ ]:
print(varDict[2])

In [ ]:
print(varDict['3'])

In [ ]:
print(varDict[4])

In [ ]:
print(varDict[4][0])

In [ ]:
len(varDict)

## Arithmetic

Python uses basic arithmetic functions which are normally present on most if not all programming languages.

### Addition

In [ ]:
a = 5 + 3
a

### Subtraction

In [ ]:
a = 5 - 3
a

### Multiplication

In [ ]:
a = 5 * 3
a

### Exponent

In [ ]:
a = 5 ** 3
a

### Division

In [ ]:
a = 5 / 3
a

### Modulus Division

In [ ]:
a = 5 % 3
a

### Integer Division

In [ ]:
a = 5 // 3
a

### Increment

In [ ]:
a = 5
a += 1
a

### Decrement

In [ ]:
a = 5
a -= 1
a

<b>NOTE:</b> Python does not support the increment/decrement syntax of <b>x++/x--</b> instead you may use the syntax of <b>x+=1/x-=1</b> which is similar to <b>x=x+1/x=x-1</b>

### String Concatenation

In [ ]:
a = 'Hello ' + 'World!'
a

Strings may also be appended with the use of the plus <b>(+)</b> symbol

### Complex Expressions

In [ ]:
a = 3 + 5 - 6 * 2 / 4
a

## Challenge 1! Write the following to code

$$ g(z) = \frac{1}{1+e^{-z}}  $$

1) z = 8, and e = 2.718 should be equal to 0.9996643716832646

2) z = 2, and e = 2.718 should be equal to 0.8807753038918279

<b><i>TRIVIA</i></b>: The value <b>e</b>, also called <b>Euler's number</b>, is a mathematical constant representing an irrational number that is approximately <b>2.71828</b>. Irrational, meaning the constant <b>e</b> is a real number that is unending and is unable to accurately be represented as a fraction, similar to that of <b>pi</b>.

## C. Control Statements and Data Structures
## Conditional Statements
In Python, curly brackets are not used to designate that multiple commands are inside a conditional statement, instead uniform spacing is used. Please take note however that the composition of the uniform spacing must be the same, such that if 4 spaces are being used, even though 4 spaces may have a visually similar result as a tab, interchanging them would produce an error statement
### Boolean Condition

In [ ]:
x = True
if x:
    print("var x is True")
else:
    print("var x is False")

### String Condition

In [ ]:
x = "Hello World!"

if x == 'Hello World!':
    print("var x is Hello World!")
else:
    print("var x is not Hello World!")

### Numerical Condition

In [ ]:
x = 10

if x == '10':
    print("var x is a String")
elif x == 10:
    print("var x in an Integer")
else:
    print("var x is none of the above")

### Multiple Conditions

In [ ]:
x = 10

if ((x > 5) and (x < 15) and (x == 10)):
    print("var x is really 10!")
else:
    print("var x is not really 10")

In [ ]:
x = 10

if x == 10 or  x == 20:
    print("var x can be 10 or 20")
else:
    print("var x is not 10 nor 20")

## Loops
Similar with that of Conditional Statements, commands within a loop are designated by having a uniform spacing.
### For Loops

In [ ]:
for var in range(0,5,1):
    print(var)

<b>NOTE:</b> The command <b>range(0,5,2)</b> is equivalent to all numbers from 0 incremented by 2 until it reaches the number less than 5

In [ ]:
[var for var in range(1, 100, 5)]

In [ ]:
x = [1, 2, 3]
y = [3, 4, 5]

for var1, var2 in zip (x, y):
    print(var1)
    print(var2)

<b>NOTE:</b> range([start], stop, [step])

### While Loops

In [ ]:
var = 0 #needs to declare
while var < 5:
    print(var)
    var += 2

### Nested Loops

In [ ]:
x = 0
while x < 5:
    for y in range(0, x):
        print(y, end='')
    x+=1
    print()

Always take note that there should be a colon <b>(:)</b> on the line where one delcares the loop or condition

## Challenge 2! Convert the following formula into a Looping Code

$$ g(z) = \frac{1}{1+e^{-z}}  $$

When 

z = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]  and  
e = [1.718, 2.718, 3.718, 4.718, 5.718, 6.718, 7.718, 8.718, 9.718, 10.718];   
g(z) should be in a LIST form.

## D. Functions

Functions use the following notation:

def <i>function_name</i>:<br>
<pre><i> input commands here </i></pre>

Here is a sample function. np.random.randint(a, [b]) outputs uniformly random values from $[a,b) $

In [ ]:
def remainder(n, m):
    while True:
        if n - m < 0:
            return n
        else:
            n = n - m

In [ ]:
remainder(10, 4)

## List Generators and Comprehension

In [ ]:
def gen_num_up_to(n):
    num = 0
    while num < n:
        yield num
        num += 1

In [ ]:
gen_num_up_to(5)

In [ ]:
varList = gen_num_up_to(5)
print([var for var in varList])

In [ ]:
def gen_num_up_to(n):
    num = 0
    while num < n:
        yield num
        num += 2

varList = gen_num_up_to(5)
print([var for var in varList])

In [ ]:
varList = range(0, 5, 2)
print([var for var in varList])

In [ ]:
def gen_num_up_to(n):
    num = 0
    while num < n:
        yield num
        num += 1

In [ ]:
aggregator = []

for i in range(1, 5):
    aggregator.append([v for v in gen_num_up_to(5)])
aggregator

## Challenge 3! Convert the following formula into a Function Code

$$ g(z) = \frac{1}{1+e^{-z}}  $$

When 

z = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]  and  
e = [1.718, 2.718, 3.718, 4.718, 5.718, 6.718, 7.718, 8.718, 9.718, 10.718];   
g(z) should be in a LIST form.

Calculation of Array Values should be in Iteration form.

# Libraries in Data Science

*Computation and Data Analysis Libraries*
* Pandas
* Numpy

*Visualization Libraries*
* Seaborn
* MAtplotlib

In [ ]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Introduction to Numpy

NumPy is a python package that stands for ‘Numerical Python’. 
<br> Numpy is the core library for scientific computing, which contains a powerful n-dimensional array object, provides tools for integrating C, C++, etc. </br>
<br> It contains a powerful N-dimensional array object. </br>

## Vectors, Matrices and Computation

In [ ]:
np.array(range(100))

It's the same as just:

In [ ]:
np.arange(0, 100)

## Computing vector computations
### Vector to scalar

In [ ]:
varArray = np.arange(0, 5)
varArray * 2

### Vector to vector: Dot Product

In [ ]:
varArrayA = np.arange(0,5)
varArrayB = np.arange(5,10)

print(varArrayA)
print(varArrayB)
print(np.dot(varArrayA, varArrayB))

### Vector to vector: Element-wise multiplication

In [ ]:
varArrayA * varArrayB

## Matrix to Matrix: Matrix Multiplication

In [ ]:
mat_a = np.random.randint(0, 5, size=(4,4))
print(mat_a)
print(mat_a * 2)

# Introduction to Pandas

Pandas contain data structures and data manipulation tools designed for data cleaning and analysis.
<br> While pandas adopt many coding idioms from NumPy, the biggest difference is that pandas is designed for working with tabular or heterogeneous data. NumPy, by contrast, is best suited for working with homogeneous numerical array data. </br>
<br> The name Pandas is derived from the term “panel data”, an econometrics term for multidimensional structured data sets. </br>

In [ ]:
data = pd.read_csv("movie_metadata.csv")

In [ ]:
data.shape

In [ ]:
data.columns

In [ ]:
data.head()

## Slicing data frames

In [ ]:
data[:4]

## Indexing Columns

In [ ]:
data.director_name[:4]

In [ ]:
data['director_name'][:4]

In [ ]:
cols = ["movie_title","director_name"]
data[cols][:5]

## Indexing Rows

In [ ]:
data.iloc[10:12]

## Find Movies by James Cameron

In [ ]:
data[data.director_name == ('James Cameron')]

In [ ]:
data[data.director_name == ('James Cameron')]

In [ ]:
# This was added as an alternative way on searching for a director name
data[data.director_name.str.contains('James') == True ]

## Sort films by gross earnings

In [ ]:
sorted_data = data.sort_values(by="gross", ascending=False)
sorted_data[:5]

In [ ]:
sorted_data = data.sort_values(by="gross", ascending=False)
cols = ["movie_title","gross"]
sorted_data[cols][:5]

## Challenge 4! Get the top 5 films of Michael Bay

## Multiple Conditions: Find films from the Canada that have Hugh Jackman as the actor_1_name

In [ ]:
data[(data['country'] == 'Canada') & (data['actor_1_name'] == 'Hugh Jackman')]

## Challenge 5! 

Find the actor who is the actor_1_name for the movie that grossed exactly 67344392. Then, 
Find films whose actor_3_name is Omar Sy and actor_1_name is the person from Armageddon.